.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  				background-color: #ccffff;
}

#myHeader {
	box-shadow: 0 -5px 8px 8px rgba(0, 0, 0, 0.7);
	background-color: navy;
	font-size: 28px;
	color: white;
	padding: 8px;
}

.circle
    {
    width:30px;
    height:30px;
    border-radius:250px;
    font-size:16px;
    font-family: Tahoma;
    color:#fff;
    line-height:30px;
    text-align:center;
    background:#000
    }