.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  				background-color: #ccffff;
}

#myHeader {
	box-shadow: 0 -5px 8px 8px rgba(0, 0, 0, 0.7);
	background-color: navy;
	font-size: 28px;
	color: white;
	padding: 8px;
}